[submodule "libft"]
	path = libft
	url = git@github.com:PapyMonkey/42_libft.git
[submodule "tester_ael_bekk"]
	path = tester_ael_bekk
	url = git@github.com:ael-bekk/PIPEX_TESTER.git
[submodule "tester_vfurmane"]
	path = tester_vfurmane
	url = git@github.com:vfurmane/pipex-tester.git
[submodule "tester_gmarcha"]
	path = tester_gmarcha
	url = git@github.com:gmarcha/pipexMedic.git
